In [2]:
#data loading and storage, formats
import pandas as pd
df=pd.read_csv('C:/Users/cleopathy/python_note/python_data_analysis/ex1.csv')
df

   a,   b,   c,   d, message
0  1,   2,   3,   4,   hello
1  5,   6,   7,   8,   world
2  9,  10,  11,  12,     foo

In [4]:
pd.read_table('C:/Users/cleopathy/python_note/python_data_analysis/ex1.csv',sep=',')

   a,   b,   c,   d, message
0  1,   2,   3,   4,   hello
1  5,   6,   7,   8,   world
2  9,  10,  11,  12,     foo

In [8]:
pd.read_csv('C:/Users/cleopathy/python_note/python_data_analysis/ex2.csv',header=None)

    0    1    2    3      4
0  1,   2,   3,   4,  hello
1  5,   6,   7,   8,  world
2  9,  10,  11,  12,    foo

In [9]:
pd.read_csv('C:/Users/cleopathy/python_note/python_data_analysis/ex2.csv',names = ['a','b','c','d','message'])

    a    b    c    d message
0  1,   2,   3,   4,   hello
1  5,   6,   7,   8,   world
2  9,  10,  11,  12,     foo

In [10]:
names = ['a','b','c','d','message']
pd.read_csv("C:/Users/cleopathy/python_note/python_data_analysis/ex2.csv",names = names, index_col ='message')

          a    b    c    d
message
hello    1,   2,   3,   4,
world    5,   6,   7,   8,
foo      9,  10,  11,  12,

In [12]:
parsed = pd.read_csv('C:/Users/cleopathy/python_note/python_data_analysis/csv_mindex.csv',index_col = ['key1','key2'])
parsed

ValueError: Index key1 invalid