In [2]:
#data loading and storage, formats
import pandas as pd
df=pd.read_csv('C:/Users/cleopathy/python_note/python_data_analysis/ex1.csv')
df

   a,   b,   c,   d, message
0  1,   2,   3,   4,   hello
1  5,   6,   7,   8,   world
2  9,  10,  11,  12,     foo

In [4]:
pd.read_table('C:/Users/cleopathy/python_note/python_data_analysis/ex1.csv',sep=',')

   a,   b,   c,   d, message
0  1,   2,   3,   4,   hello
1  5,   6,   7,   8,   world
2  9,  10,  11,  12,     foo

In [5]:
pd.read_csv('C:/Users/cleopathy/python_note/python_data_analysis/ex2.csv',header=None)

    0    1    2    3      4
0  1,   2,   3,   4,  hello
1  5,   6,   7,   8,  world
2  9,  10,  11,  12,    foo